* {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

body,
.calculator,
.content,
.result-container,
.clear-and-backspace,
.clear,
.main.digits,
.last-row {
  display: flex;
  justify-content: center;
}

body {
  background-color: wheat;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 3px solid rgb(52, 52, 52);
  border-radius: 8px;
  width: 408px;
  /* 
  do NOT set the height of a container -> causes the elements to collapse
  */
  padding-left: 2px;
  flex-direction: column;
  background-color: seashell;
}

button {
  width: 100px;
  padding: 20px;
  border: solid 2px rgba(102, 97, 97, 0.76);
  background-color: rgb(255, 255, 210);
}

button:hover {
  background-color: white;
}

button:active {
  background-color: rgb(241, 237, 188);
}

button,
.result,
.result-container {
  margin: 2px 2px 0px 0px;
  box-sizing: border-box;
  border-radius: 3px;
}

.result-container {
  margin-top: 3px;
  width: 406px;
  justify-content: end;
  border: 2px solid rgba(102, 97, 97, 0.76);
}

.digits button {
  background-color: rgb(252, 245, 176);
}

.digits button:hover {
  background-color: rgb(255, 249, 196);
}

.digits button:active {
  background-color: rgb(243, 234, 149);
}

.main.digits {
  flex-wrap: wrap;
}

.point {
  margin-bottom: 3px;
}

.operators button {
  background-color: lightblue;
}

.operators button:hover {
  background-color: rgb(195, 237, 252);
}

.operators button:active {
  background-color: rgb(162, 199, 212);
}
